*{
    color: #dcdcde;
    font-family: 'Comfortaa', cursive;
    
}

html{
    background-color: #181825;
    max-height: 1080px;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-3698px, -3698px, 0);
    }
  }

#content{
    z-index: 1000;
    margin: auto;
    max-width: 960px;
}

h1{
    opacity: 0;
    font-size: 70px;
    animation: fadeIn 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    margin-bottom: -10px;
}

hr{
    opacity:0;
    animation: fadeIn 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

#bg{
    position: absolute;
    z-index: -1;
    background-image: url("../images/topster.png");
    background-repeat: repeat;
    height: 11094px;
    width: 11094px;
    opacity: 0.04;
    transition-delay: -1s;
    transition: 1s;
    animation: slide 120s linear infinite;
}

#con2{
    margin-left: -8px;
    overflow: hidden;
    min-height: 100%;
    max-height: auto;
    width: 100%;
    position:absolute;
}

a{
    text-decoration:none;
    color: #a29bab;
}

.links{
    margin: unset;
    margin-left: -8px;
    margin-right: -18px;
    margin-top: -12px;
    margin-bottom: 50px;
    text-align: center;
    padding: 30px;
    background-color: #111117;
    opacity: 0;
    animation: fadeIn 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.find{
    opacity: 0;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    animation: fadeIn 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    width: 570px;
    height: 180px;
}

.fantano{
    background-image: url('../images/spritesheet.png');
    height: 150px;
    width: 150px;
    float: left;
    margin: 20px;
    margin-top: 5px;
    border-radius: 5px;
}

.rym{
    background-image: url('../images/spritesheet.png');
    height: 150px;
    width: 150px;
    background-position-x: -150px;
    float: left;
    margin: 20px;
    margin-top: 5px;
}

.aoty{
    background-image: url('../images/spritesheet.png');
    height: 150px;
    width: 150px;
    background-position-x: -300px;
    float: left;
    margin: 20px;
    margin-top: 5px;
}

.fantitle, .aotytitle, .rymtitle{
    width: 190px;
    float: left;
    text-align: center;
}
.navbutton{
    padding: 10px;
    margin: 40px;
    transition: 0.3s;
}

.navbutton:hover{
    color: #fff;
    transition: 0.3s;
}

.sources{
    top: 50px;
    opacity: 0;
    animation: fadeIn 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    text-align: center;
    display: block;
    margin: 0 auto;

}

.text{
    font-size: 20px;
    text-align: justify;
    animation: fadeIn 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#msg{
    opacity: 0;
    animation: fadeIn 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

footer{
    bottom: 10px;
    opacity: 0;
    animation: fadeIn 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    position: relative;
    width: 100%;
}

.fantano:hover, .rym:hover, .aoty:hover{
    transform: scale(110%);
    margin-top: 5px;
    transition: 0.3s;
}

body{
    margin: 0;
}