*{
    color: #dcdcde;
    font-family: 'Comfortaa', cursive;
}

html{
    background-color: #181825;
}

@keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-3698px, -3698px, 0); /* The image width */
    }
}

#content{
    margin: 0 auto;
    max-width: 960px;
    text-align: center;
}


#bg{
    position: absolute;
    z-index: -1;
    background-image: url("../images/topster.png");
    background-repeat: repeat;
    height: 11094px;
    width: 11094px;
    opacity: 0.04;
    transition-delay: -1s;
    transition: 1s;
    animation: slide 120s linear infinite;
}

#con2{
    margin-left: -8px;
    overflow: hidden;
    min-height: 100%;
    max-height: auto;
    width: 100%;
    position:absolute;
}


@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

a{    
    text-decoration:none;
    color: #a29bab
}

.title{
    font-size: 40px;
}

#question{
    opacity: 0;
    animation: fadeIn 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    font-size: 25px;
    margin-bottom: 10px;
}

.buttons{
    opacity: 0;
    animation: fadeIn 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

header{
    height: 75px;
    margin: -12px;
    background-color: #1e1e2e;
}

footer{
    text-align: center;
    bottom: 10px;
    opacity: 0;
    animation: fadeIn 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.nav{
    margin-top: -11px;
    margin: -12px;
    margin-right: -18px;
    margin-bottom: 50px;
    text-align: center;
    padding: 30px;
    background-color: #111117;
    opacity: 0;
    animation: fadeIn 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.title{
    opacity: 0;
    animation-delay: 1s;
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
    transition: 0.3s;
}

.preload * {
    transition: none !important;
}

.output{
    opacity: 0;
    transition-delay: -1s;
    transition: 1s;
    pointer-events: none
}

.navbutton{
    padding: 10px;
    margin: 40px;
    transition: 0.3s;
}

.navbutton:hover{
    color: #fff;
    transition: 0.3s;
}

.button{
    color:#eee9f3;
    background-color: #0c0c14;
    padding: 10px;
}

#chooser{
    opacity: 1;
    transition: 0.5s;
}


.find{
    opacity: 0;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    animation: fadeIn 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    width: 570px;
    height: 180px;
    margin-bottom: 75px !important;
}

.fantano{
    background-image: url('../images/spritesheet.png');
    height: 150px;
    width: 150px;
    float: left;
    margin: 20px;
    margin-top: 5px;
    border-radius: 5px;
}

.rym{
    background-image: url('../images/spritesheet.png');
    height: 150px;
    width: 150px;
    background-position-x: -150px;
    float: left;
    margin: 20px;
    margin-top: 5px;
}

.aoty{
    background-image: url('../images/spritesheet.png');
    height: 150px;
    width: 150px;
    background-position-x: -300px;
    float: left;
    margin: 20px;
    margin-top: 5px;
}

.fantitle, .aotytitle, .rymtitle{
    width: 190px;
    float: left;
    text-align: center;
}

.fantano:hover, .rym:hover, .aoty:hover{
    transform: scale(110%);
    margin-top: 5px;
    transition: 0.3s;
}

body{
    margin: 0;
}